@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --coin-head-color: #fcee0c;
    --coin-tail-color: #03d8f3;
    --bg-primary-color: #000;
     */
     /* #e3ff41 */
     /* #8414f5 */
    --coin-head-color: #0000ff;
    --coin-tail-color: #ff0000;
    /* --bg-primary-color: #FAF4F0; */
    --bg-primary-color: #dfdfdf;

    --accent-primary-color: #fcee0c;

    --surface-primary-color: #fff;
    --contrast-primary-color: #000;

    /* --bg-primary-color: #e3ff41; */
    /* --env-grid-color: #e3ff41; */
  }

  body {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }

  html, body, #root {
    height: 100%;
  }
}